body.dark-theme {
  background-color: #121212;
  color: #ffffff;
}

.dark-theme {
  background-color: #121212;
  color: #ffffff;
}

.dark-theme .card {
  background-color: #1e1e1e;
  color: #ffffff;
}

.dark-theme .navbar,
.dark-theme footer {
  background-color: #000000;
}


.navbar-dark .navbar-nav .nav-link {
  color: #ffffff;
}

.jumbotron.parallax {
background-image: url('hero-image.jpg');
  background-attachment: fixed;
  background-size: cover;
  color: white;
  text-shadow: 2px 2px 4px #000;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.parallax {
  background-image: url('hero-image.jpg'); /* замените на актуальное имя файла */
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  color: white;
  height: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
}


.card {
  background-color: #1e1e1e;
  color: #ffffff;
}

.btn-primary {
  background-color: #007bff;
  border: none;
}

.btn-outline-primary {
  color: #007bff;
  border-color: #007bff;
}

footer.bg-dark {
  background-color: #000 !important;
}

.equal-height {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.card {
  margin-bottom: 1.5rem;
}

.card.equal-height {
  min-height: 100%;
}

.card .btn {
  margin-top: auto;
}

#recommendations > .col-md-4 {
  margin-bottom: 2rem;
}
